<!-- app/views/character_mailer/character_update_email.html.erb -->
<h1>Character Data Update</h1>

<p>Number of new characters added: <%= @new_characters_count %></p>
<p>Total number of characters pulled: <%= @total_characters_count %></p>
