---
http_interactions:
- request:
    method: post
    uri: https://rickandmortyapi.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  characters {\n    results {\n    id\n    name\n    status\n    species\n    type\n    gender\n    origin
        {\n        name\n    }\n    location {\n        name\n    }\n    image\n        episode
        {\n        id\n    }\n    origin {\n        name\n    }\n    created\n    }\n  }\n}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"55b7-Fi7fg6Ryc/utQy4KlskWpvTWfCw"
      Gcdn-Cache:
      - HIT
      Stellate-Query-Hash:
      - '8235727620034369'
      X-Nf-Request-Id:
      - 01HE2WB0MW7SQ97H4ZKRRGASHB
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"characters":{"results":[{"id":"1","name":"Rick Sanchez","status":"Alive","species":"Human","type":"","gender":"Male","origin":{"name":"Earth
        (C-137)"},"location":{"name":"Citadel of Ricks"},"image":"https://rickandmortyapi.com/api/character/avatar/1.jpeg","episode":[{"id":"1"},{"id":"2"},{"id":"3"},{"id":"4"},{"id":"5"},{"id":"6"},{"id":"7"},{"id":"8"},{"id":"9"},{"id":"10"},{"id":"11"},{"id":"12"},{"id":"13"},{"id":"14"},{"id":"15"},{"id":"16"},{"id":"17"},{"id":"18"},{"id":"19"},{"id":"20"},{"id":"21"},{"id":"22"},{"id":"23"},{"id":"24"},{"id":"25"},{"id":"26"},{"id":"27"},{"id":"28"},{"id":"29"},{"id":"30"},{"id":"31"},{"id":"32"},{"id":"33"},{"id":"34"},{"id":"35"},{"id":"36"},{"id":"37"},{"id":"38"},{"id":"39"},{"id":"40"},{"id":"41"},{"id":"42"},{"id":"43"},{"id":"44"},{"id":"45"},{"id":"46"},{"id":"47"},{"id":"48"},{"id":"49"},{"id":"50"},{"id":"51"}],"created":"2017-11-04T18:48:46.250Z"},{"id":"2","name":"Morty
        Smith","status":"Alive","species":"Human","type":"","gender":"Male","origin":{"name":"unknown"},"location":{"name":"Citadel
        of Ricks"},"image":"https://rickandmortyapi.com/api/character/avatar/2.jpeg","episode":[{"id":"1"},{"id":"2"},{"id":"3"},{"id":"4"},{"id":"5"},{"id":"6"},{"id":"7"},{"id":"8"},{"id":"9"},{"id":"10"},{"id":"11"},{"id":"12"},{"id":"13"},{"id":"14"},{"id":"15"},{"id":"16"},{"id":"17"},{"id":"18"},{"id":"19"},{[...]
